<h1>More details about {{model.title}}</h1>
<div class="panel panel-default">
  <div class="panel-body">
    <b>Story:</b><p>{{model.title}} </p>
    <b>Date: </b><p>{{model.dueDate}} </p>
    <h2><b>Tasks:</b></h2>
    <br><br>
      {{#each model.tasks as |task|}}
        <br><br>
        <p>Name: <b>{{task.name}}</b></p>
        <p>Story: {{task.story.title}}</p>
        <br>
        <button class="btn btn-danger btn-xs" {{action 'deleteTask' task}}>Delete</button>
        {{#link-to 'tasks.view' task.id class='btn btn-info btn-xs'}}View{{/link-to}}
        {{#link-to 'tasks.edit' task.id class='btn btn-success btn-xs'}}Edit{{/link-to}}
        <br><br>
      {{/each}}
    </div>
</div>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
  {{#link-to 'story'}}<button type="submit" class="btn btn-default">Back to stories list </button>{{/link-to}}
  </div>
</div>
